<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
    <header>GROUP 15</header>
    <content>{{{body}}}</content>
    <footer>Moanisha, Sakshi</footer>
    </div>
    
  </body>
</html>
