<div class="container">
    <form method="post" action="/api/movies/getResult">
   <label>Page:  </label><input type="text" name="page" placeholder="Enter page number">
   <label>Perpage limit:  </label><input type="text" name="perpage" placeholder="Enter page limit per page">
   <label>Title:  </label><input type="text" name="title" placeholder="Enter Title">
   <input type="Submit" value="SUBMIT"></div>
</form>
</div>
